@page "/"

<PageTitle>Главная</PageTitle>

<p>Выберите раздел</p>

<div>
    <a href="students"><button class="btn btn-primary">Студенты</button></a>
    <a href="groups"><button class="btn btn-primary">Группы</button></a>
</div>
